class {{#pascalCase}}{{className}}{{/pascalCase}}FormProvider extends StateNotifier<{{#pascalCase}}{{modelName}}{{/pascalCase}}> {

  final Ref ref;
  final String uuid;
  final GlobalKey<FormState> formKey = GlobalKey();
  bool changesMade = false;

  {{#pascalCase}}{{className}}{{/pascalCase}}FormProvider(this.ref, this.uuid, {{#pascalCase}}{{modelName}}{{/pascalCase}} initialState) : super(initialState) {
    load(uuid);
    fieldListeners();
  }

  void load(String uuid) async {
    if(uuid.isNotEmpty){
      final {{#camelCase}}{{modelName}}{{/camelCase}} = await {{#pascalCase}}{{modelName}}{{/pascalCase}}DbService().retrieve(uuid:uuid);
      if({{#camelCase}}{{modelName}}{{/camelCase}} != null){
        state = {{#camelCase}}{{modelName}}{{/camelCase}};
      } else {
        handleEmpty();
      }
    } else {
      handleEmpty();
    }

    setFields();
    changesMade = false;
  }

  void handleEmpty() {
    state = {{#pascalCase}}{{modelName}}{{/pascalCase}}.empty();
  }

  Future<bool> discard() async {
    if (changesMade) {
      final confirmed = await ConfirmDialog.show(title: "Are you sure you want to discard all unsaved changes?");

      if (confirmed != true) {
        return false;
      }
    }
    clear();
    return true;
  }

  void clear() {
    handleEmpty();
    clearFields();
  }

  Future<bool?> delete() async {
    final confirmed = await ConfirmDialog.show(
      title: 'Are you sure you want to delete this {{#titleCase}}{{modelName}}{{/titleCase}}?',
      destructive: true,
    );

    if (confirmed == true) {

      ref.read(globalLoadingProvider.notifier).start();
      final success = await {{#pascalCase}}{{modelName}}{{/pascalCase}}DbService().delete(state);
      ref.read(globalLoadingProvider.notifier).complete();

      if (success) {
        ref.read({{#camelCase}}{{modelName}}{{/camelCase}}ListProvider.notifier).refresh();
        Toast.message("{{#titleCase}}{{modelName}}{{/titleCase}} deleted.");
        return true;
      } else {
        Toast.error();
        return false;
      }
    }
    return null;
  }

  Future<bool?> submit() async {
    if (!formKey.currentState!.validate()) {
      return null;
    }

    ref.read(globalLoadingProvider.notifier).start();
    final {{#camelCase}}{{modelName}}{{/camelCase}} = await {{#pascalCase}}{{modelName}}{{/pascalCase}}DbService().save(state);

    if ({{#camelCase}}{{modelName}}{{/camelCase}} != null) {
      state = {{#camelCase}}{{modelName}}{{/camelCase}};
      ref.read({{#camelCase}}{{modelName}}{{/camelCase}}ListProvider.notifier).refresh();
      ref.invalidate({{#camelCase}}{{modelName}}{{/camelCase}}DetailProvider({{#camelCase}}{{modelName}}{{/camelCase}}.uuid));
      ref.read(globalLoadingProvider.notifier).complete();
      return true;
    }

    ref.read(globalLoadingProvider.notifier).complete();
    return false;
  }

  void fieldListeners() {}
  void setFields() {}
  void clearFields() {}

}
